{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
<main class="feed">
  <ul class="menu">
    <li>
      <a class="button" href="{% url 'ticket_create' %}"
        >Demander une critique</a
      >
    </li>
    <li>
      <a class="button" href="{% url 'review_create' %}">Créer une critique</a>
    </li>
  </ul>
  <section class="posts">
    {% for subscription in subscriptions %}
    {% for post in posts %}
    {% if subscription.followed_user == post.user %}
    {% if post|model_type == 'Review' %}
    <article class="post">
      <div class="post__container-1">
        {% if request.user == post.user %}
        <p>Vous avez publié une critique</p>
        {% else %}
        <p>{{ post.user }} a publié une critique</p>
        {% endif %}
        <p>{{ post.time_created }}</p>
      </div>
      <div class="post__container-2">
        <h2>{{ post.headline }}</h2> -
        <p>Note:
          {% if post.rating == 0 %}
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          {% elif post.rating == 1 %}
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          {% elif post.rating == 2 %}
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          {% elif post.rating == 3 %}
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star unchecked"></i>
          <i class="fa-regular fa-star unchecked"></i>
          {% elif post.rating == 4 %}
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star unchecked"></i>
          {% elif post.rating == 5 %}
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          {% endif %}
        </p>
      </div>
      <p>{{ post.body }}</p>
      <div class="post__ticket">
        <p>Ticket - {{ post.ticket.user }}</p>
        <h2>{{ post.ticket.title }}</h2>
        <img src="http://127.0.0.1:8000/media/{{ post.ticket.image }}" />
      </div>
      {% if request.user == post.user %}
      <div class="post__container-3">
        <a href="{% url 'review_update' post.id %}" class="button">
          Modifier
        </a>
        <a href="{% url 'review_delete' post.id %}" class="button">
          Supprimer
        </a>
      </div>
      {% endif %}
    </article>
    {% elif post|model_type == 'Ticket' %}
    <article class="post">
      <div class="post__container-1">
        {% if request.user == post.user %}
        <p>Vous avez demandé une critique</p>
        {% else %}
        <p>{{ post.user }} a demandé une critique</p>
        {% endif %}
        <p>{{ post.time_created }}</p>
      </div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.description }}</p>
      <img src="http://127.0.0.1:8000/media/{{ post.image }}" />
      <div class="post__container-3">
        {% if request.user == post.user %}
        <a href="{% url 'ticket_update' post.id %}" class="button">
          Modifier
        </a>
        <a href="{% url 'ticket_delete' post.id %}" class="button">
          Supprimer
        </a>
        {% endif %}
        <a class="button" href="{% url 'review_create' post.id %}"
          >Créer une critique</a
        >
      </div>  
    </article>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}

  </section>
</main>
{% endblock content %}
