{% extends 'base.html' %} {% load review_extras %} {% block content %}
<main class="feed">
  <ul class="menu">
    <li>
      <a class="button" href="{% url 'ticket_create' %}"
        >Demander une critique</a
      >
    </li>
    <li>
      <a class="button" href="{% url 'review_create' %}">Créer une critique</a>
    </li>
  </ul>
  <section>
    {% for post in posts %}
    {% if post|model_type == 'Review' %}
    <article>
      <div>
        {% if request.user == post.user %}
        <p>Vous avez publié une critique</p>
        {% else %}
        <p>{{ post.user }} a publié une critique</p>
        {% endif %}
        <p>{{ post.time_created }}</p>
      </div>
      <span>
        <h2>{{ post.headline }}</h2>
        -
        <p>Note: {{ post.rating }}</p>
      </span>
      <p>{{ post.body }}</p>
      <div>
        <p>Ticket - {{ post.ticket.user }}</p>
        <h2>{{ post.ticket.title }}</h2>
        <img src="http://127.0.0.1:8000/media/{{ post.ticket.image }}" />
      </div>
      <div>
        {% if request.user == post.user %}
        <a href="{% url 'review_update' post.id %}" class="button">
          Modifier
        </a>
        <a href="{% url 'review_delete' post.id %}" class="button">
          Supprimer
        </a>
        {% endif %}
      </div>
    </article>
    {% elif post|model_type == 'Ticket' %}
    <article>
      <div>
        {% if request.user == post.user %}
        <p>Vous avez demandé une critique</p>
        {% else %}
        <p>{{ post.user }} a demandé une critique</p>
        {% endif %}
        <p>{{ post.time_created }}</p>
      </div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.description }}</p>
      <img src="http://127.0.0.1:8000/media/{{ post.image }}" />
      {% if request.user == post.user %}
      <div>
        <a href="{% url 'ticket_update' post.id %}" class="button">
          Modifier
        </a>
        <a href="{% url 'ticket_delete' post.id %}" class="button">
          Supprimer
        </a>
      </div>
      {% endif %}
      <div>
        <a class="button" href="{% url 'review_create' post.id %}"
          >Créer une critique</a
        >
      </div>
    </article>
    {% endif %}
    {% endfor %}
  </section>
</main>
{% endblock content %}
