{% extends 'base.html' %}
{% block content %}
<main class="create">
{% if ticket %}
<article>
  <div>
    {% if request.user %}
    <p>Vous avez publié une critique</p>
    {% else %}
    <p>{{ ticket.user }} a publié une critique</p>
    {% endif %}
    <p>{{ ticket.time_created }}</p>
  </div>
  <div>
    <p>Ticket - {{ ticket.user }}</p>
    <h2>{{ ticket.title }}</h2>
    <img src="http://127.0.0.1:8000/media/{{ ticket.image }}" />
  </div>
</article>
{% endif %}
<form class="form-create" method="post" enctype="multipart/form-data">
  {% if ticket_form %}
  {{ ticket_form }}
  {% endif %}
  {{ review_form }}
  {% csrf_token %}
  <button class="button button--right" type="submit">Envoyer</button>
</form>
{% endblock content %}
</main>
