{%load static %}

<html>
  <head>
    <title>Litreview</title>
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__logo">Litreview</h1>
      {%  if request.path != '/signup/' and request.path != '/' %}
      <nav class="header__navigation">
        <ul class="menu">
          <li><a href="{% url 'feed' %}">Flux</a></li>
          <li><a href="{% url 'posts' %}">Posts</a></li>
          <li><a href="{% url 'subscription' %}">Abonnements</a></li>
          {%  if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
